public/templates/index.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico"/>
    <title>GetResponse</title>
    <script type="text/javascript" src="js/js.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="application/json" href="css/style.css.map"/>
  </head>
  
  <body>
    <div class="PAGE_WRAP">
      <div class="MAIN_MENU">
        <div class="container">
          <button class="MenuToggle" id="menuButton"></button>
          <ul class="menu">
            <li class="active"><a href="#">dashboard</a></li>
            <li><a href="#">recipes</a></li>
            <li><a href="#">challenge</a></li>
          </ul>
          <div class="user"><a class="profile" href="#">
              <div class="img"><img src="img/user.jpg"/></div></a>
            <div class="dropdown">
              <button class="toggle" id="userMenuButton">Olivia Wilde</button>
              <ul class="dropdownMenu">
                <li><a href="#">Messages</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Sign out</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="CONTENT container">
        <div class="TOP">
          <div class="row">
            <div class="column col_1">
              <p>your 12 week progress</p>
              <ul class="progress">
                <li>
                  <div class="bullet done"></div>
                  <div class="digit">1</div>
                </li>
                <li>
                  <div class="bullet done"></div>
                  <div class="digit">2</div>
                </li>
                <li>
                  <div class="bullet done"></div>
                  <div class="digit">3</div>
                </li>
                <li>
                  <div class="bullet done"></div>
                  <div class="digit">4</div>
                </li>
                <li>
                  <div class="bullet now"></div>
                  <div class="digit">5</div>
                </li>
                <li>
                  <div class="bullet"></div>
                  <div class="digit">6</div>
                </li>
                <li>
                  <div class="bullet"></div>
                  <div class="digit">7</div>
                </li>
                <li>
                  <div class="bullet"></div>
                  <div class="digit">8</div>
                </li>
                <li>
                  <div class="bullet"></div>
                  <div class="digit">9</div>
                </li>
                <li>
                  <div class="bullet"></div>
                  <div class="digit">10</div>
                </li>
                <li>
                  <div class="bullet"></div>
                  <div class="digit">11</div>
                </li>
                <li>
                  <div class="bullet"></div>
                  <div class="digit">12</div>
                </li>
              </ul>
            </div>
            <div class="column col_2">
              <div class="slider">
                <button class="prev">prev</button>
                <div class="text"> 
                  <ul>
                    <li>Week 7</li>
                    <li>Week 8</li>
                    <li>Week 9</li>
                    <li>Week 10</li>
                  </ul>
                </div>
                <button class="next">next</button>
              </div>
            </div>
            <div class="column col_3">
              <p>lorem ipsum dolor sit amet</p>
              <ul class="options">
                <li>
                  <button class="sprite-001 active">bro</button>
                </li>
                <li>
                  <button class="sprite-002 active">che</button>
                </li>
                <li>
                  <button class="sprite-003 blocked">bee</button>
                </li>
                <li>
                  <button class="sprite-004 blocked">fis</button>
                </li>
                <li>
                  <button class="sprite-005 blocked">pou</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="TABLE">
          <div class="gray-background">
            <div class="time-column">
              <div class="day empty"></div>
              <div class="meal time"><span>6:00 AM</span></div>
              <div class="meal time"><span>6:00 AM</span></div>
              <div class="meal time"><span>6:00 AM</span></div>
              <div class="meal time"><span>6:00 AM</span></div>
              <div class="meal time last"><span>6:00 AM</span></div>
              <div class="description empty"></div>
              <div class="workout text"><span>Workout</span></div>
            </div>
            <div class="scroll-container">
              <div class="day-column">
                <div class="day"><span>day 64</span></div>
                <div class="meal"><span class="icon"></span><span>Bod&bull;ē Shake</span><img class="product" src="img/product.png"/></div>
                <div class="meal"><span class="icon"></span><span>Ham and Swiss Roll Ups</span></div>
                <div class="meal"><span class="icon"></span><span>Turkey Melt      </span></div>
                <div class="meal"><span class="icon"></span><span>Bod-e Burn with Mozarella and Tomato Slices</span></div>
                <div class="meal last"><span class="icon"></span><span>Turkey Melt</span></div>
                <div class="description"><span>low-carb</span></div>
                <div class="workout done"><img src="img/weights-o.png"/></div>
              </div>
              <div class="day-column active">
                <div class="day"><span>day 65</span></div>
                <div class="meal"><span>Bod&bull;ē Shake</span><img class="product" src="img/product.png"/></div>
                <div class="meal"><span>Ham and Swiss Roll Ups</span></div>
                <div class="meal"><span>Turkey Melt</span></div>
                <div class="meal"><span>Bod-e Burn with Mozarella and Tomato Slices</span></div>
                <div class="meal last"><span>Turkey Melt</span></div>
                <div class="description"><span>low-carb</span></div>
                <div class="workout"><img src="img/weights-b.png"/></div>
              </div>
              <div class="day-column">
                <div class="day"><span>day 66</span></div>
                <div class="meal"><span>Bod&bull;ē Shake</span><img class="product" src="img/product.png"/></div>
                <div class="meal"><span>Ham and Swiss Roll Ups</span></div>
                <div class="meal"><span>Bod&bull;ē Shake</span><img class="product" src="img/product.png"/></div>
                <div class="meal"><span>Bod-e Burn with Mozarella and Tomato Slices</span></div>
                <div class="meal last"><span>Turkey Melt</span></div>
                <div class="description"><span>low-carb</span></div>
                <div class="workout"><img src="img/weights-b.png"/></div>
              </div>
              <div class="day-column">
                <div class="day"><span>day 67</span></div>
                <div class="meal"><span>Bod&bull;ē Shake</span><img class="product" src="img/product.png"/></div>
                <div class="meal"><span>Ham and Swiss Roll Ups</span></div>
                <div class="meal"><span>Turkey Melt</span></div>
                <div class="meal"><span>Bod-e Burn with Mozarella and Tomato Slices</span></div>
                <div class="meal last"><span>Turkey Melt</span></div>
                <div class="description"><span>low-carb</span></div>
                <div class="workout"><img src="img/weights-b.png"/></div>
              </div>
              <div class="day-column">
                <div class="day"><span>day 68</span></div>
                <div class="meal"><span>Bod&bull;ē Shake</span><img class="product" src="img/product.png"/></div>
                <div class="meal"><span>Ham and Swiss Roll Ups</span></div>
                <div class="meal"><span>Bo&bull;ē Shake</span><img class="product" src="img/product.png"/></div>
                <div class="meal"><span>Bod-e Burn with Mozarella and Tomato Slices</span></div>
                <div class="meal last"><span>Turkey Melt</span></div>
                <div class="description"><span>low-carb</span></div>
                <div class="workout"><img src="img/weights-b.png"/></div>
              </div>
              <div class="day-column">
                <div class="day"><span>day 69</span></div>
                <div class="meal"><span>Bod&bull;ē Shake</span><img class="product" src="img/product.png"/></div>
                <div class="meal"><span>Ham and Swiss Roll Ups</span></div>
                <div class="meal"><span>Bod&bull;ē Shake</span><img class="product" src="img/product.png"/></div>
                <div class="meal"><span>Bod-e Burn with Mozarella and Tomato Slices</span></div>
                <div class="meal last"><span>Turkey Melt</span></div>
                <div class="description"><span>low-carb</span></div>
                <div class="workout"><img src="img/weights-b.png"/></div>
              </div>
              <div class="rest-column">
                <div class="day"><span>day 70</span></div>
                <div class="info"><span>guilt-free day</span><img src="img/happy2.png"/></div>
                <div class="print">
                  <button>Print</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="BOTTOM">
          <div class="row">
            <div class="column col_1">
              <h2>Running out of products?</h2>
              <p>Nunc ultrices a nunc et aliquam. Donec id lacus.</p>
              <button>Buy now</button>
            </div>
            <div class="column col_2">
              <h2>Bod&bull;ē Trainer in your pocket</h2>
              <p>Vestibulum vitae turpis a mi feugiat consequat.</p>
              <button class="icon_1">iOS<span></span></button>
              <button class="icon_2">Android<span></span></button>
            </div>
            <div class="column col_3">
              <h2>Frequently Asked Questions</h2>
              <p>Donec eleifend ullamcorper tempor. Nunc ultrices a nunc et.</p>
              <button>Read FAQs</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script></script>
  </body>
</html>

templates/index.pug
<!DOCTYPE html>
html
  include head.pug
  |
  |
  body
    .PAGE_WRAP
      .MAIN_MENU
        .container
          button(class='MenuToggle' id='menuButton')
          ul.menu
            li.active
              a(href='#') dashboard
            li
              a(href='#') recipes
            li
              a(href='#') challenge
          .user
            a(href='#' class='profile')
              .img
                img(src='img/user.jpg')
            .dropdown
              button(class='toggle' id='userMenuButton') Olivia Wilde
              ul.dropdownMenu
                li
                  a(href='#') Messages
                li
                  a(href='#') Settings
                li
                  a(href='#') Sign out
      .CONTENT.container
        .TOP
          .row
            .column.col_1
              p your 12 week progress
              ul.progress
                li
                  .bullet.done
                  .digit 1
                li
                  .bullet.done
                  .digit 2
                li
                  .bullet.done
                  .digit 3
                li
                  .bullet.done
                  .digit 4
                li
                  .bullet.now
                  .digit 5
                li
                  .bullet
                  .digit 6
                li
                  .bullet
                  .digit 7
                li
                  .bullet
                  .digit 8
                li
                  .bullet
                  .digit 9
                li
                  .bullet
                  .digit 10
                li
                  .bullet
                  .digit 11
                li
                  .bullet
                  .digit 12
            .column.col_2
              .slider
                button.prev prev
                .text 
                  ul
                    li Week 7
                    li Week 8
                    li Week 9
                    li Week 10
                button.next next
            .column.col_3
              p lorem ipsum dolor sit amet
              ul.options
                li
                  button.sprite-001.active bro
                li
                  button.sprite-002.active che
                li
                  button.sprite-003.blocked bee
                li
                  button.sprite-004.blocked fis
                li
                  button.sprite-005.blocked pou
        .TABLE
          .gray-background
            .time-column
              .day.empty
              .meal.time
                span 6:00 AM
              .meal.time
                span 6:00 AM
              .meal.time
                span 6:00 AM
              .meal.time
                span 6:00 AM
              .meal.time.last
                span 6:00 AM
              .description.empty
              .workout.text
                span Workout
            .scroll-container
              .day-column
                .day
                  span day 64
                .meal
                  span.icon
                  span Bod&bull;ē Shake
                  img(src='img/product.png' class='product')
                .meal
                  span.icon
                  span Ham and Swiss Roll Ups
                .meal
                  span.icon
                  span Turkey Melt      
                .meal
                  span.icon
                  span Bod-e Burn with Mozarella and Tomato Slices
                .meal.last
                  span.icon
                  span Turkey Melt
                .description
                  span low-carb
                .workout.done
                  img(src='img/weights-o.png')
              .day-column.active
                .day
                  span day 65
                .meal
                  span Bod&bull;ē Shake
                  img(src='img/product.png' class='product')
                .meal
                  span Ham and Swiss Roll Ups
                .meal
                  span Turkey Melt
                .meal
                  span Bod-e Burn with Mozarella and Tomato Slices
                .meal.last
                  span Turkey Melt
                .description
                  span low-carb
                .workout
                  img(src='img/weights-b.png')
              .day-column
                .day
                  span day 66
                .meal
                  span Bod&bull;ē Shake
                  img(src='img/product.png' class='product')
                .meal
                  span Ham and Swiss Roll Ups
                .meal
                  span Bod&bull;ē Shake
                  img(src='img/product.png' class='product')
                .meal
                  span Bod-e Burn with Mozarella and Tomato Slices
                .meal.last
                  span Turkey Melt
                .description
                  span low-carb
                .workout
                  img(src='img/weights-b.png')
              .day-column
                .day
                  span day 67
                .meal
                  span Bod&bull;ē Shake
                  img(src='img/product.png' class='product')
                .meal
                  span Ham and Swiss Roll Ups
                .meal
                  span Turkey Melt
                .meal
                  span Bod-e Burn with Mozarella and Tomato Slices
                .meal.last
                  span Turkey Melt
                .description
                  span low-carb
                .workout
                  img(src='img/weights-b.png')
              .day-column
                .day
                  span day 68
                .meal
                  span Bod&bull;ē Shake
                  img(src='img/product.png' class='product')
                .meal
                  span Ham and Swiss Roll Ups
                .meal
                  span Bo&bull;ē Shake
                  img(src='img/product.png' class='product')
                .meal
                  span Bod-e Burn with Mozarella and Tomato Slices
                .meal.last
                  span Turkey Melt
                .description
                  span low-carb
                .workout
                  img(src='img/weights-b.png')
              .day-column
                .day
                  span day 69
                .meal
                  span Bod&bull;ē Shake
                  img(src='img/product.png' class='product')
                .meal
                  span Ham and Swiss Roll Ups
                .meal
                  span Bod&bull;ē Shake
                  img(src='img/product.png' class='product')
                .meal
                  span Bod-e Burn with Mozarella and Tomato Slices
                .meal.last
                  span Turkey Melt
                .description
                  span low-carb
                .workout
                  img(src='img/weights-b.png')
              .rest-column
                .day
                  span day 70
                .info
                  span guilt-free day
                  img(src='img/happy2.png')
                .print
                  button Print
        .BOTTOM
          .row
            .column.col_1
              h2 Running out of products?
              p.
                Nunc ultrices a nunc et aliquam. Donec id lacus.
              button Buy now
            .column.col_2
              h2 Bod&bull;ē Trainer in your pocket
              p.
                Vestibulum vitae turpis a mi feugiat consequat.
              button.icon_1 iOS
                span
              button.icon_2 Android
                span
            .column.col_3
              h2 Frequently Asked Questions
              p.
                Donec eleifend ullamcorper tempor. Nunc ultrices a nunc et.
              button Read FAQs
    script.
      
